* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Fuggles', cursive;
  font-family: 'Mansalva', cursive;
}
:root {
  --Pale-Yellow: #fefae0;
}

// Define
.hidden {
  display: none;
}
.p-0 {
  padding: 0;
}
.border-none {
  border: 0 !important;
}
.note-text {
  font-size: 0.5rem;
  color: #fff;
  text-align: center;
}
.wrong-cell {
  background-color: #ff000077 !important;
}
.animate-spin {
  animation: spin 1.2s linear infinite;

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
.loader {
  width: 15%;
  height: 15%;
}
body {
  height: 100vh;
  background: rgb(4, 12, 44);
  background: linear-gradient(
    322deg,
    rgba(4, 12, 44, 0.9) 0%,
    rgba(11, 16, 66, 1) 29%,
    rgba(28, 60, 108, 1) 65%,
    rgba(9, 123, 145, 1) 100%
  );
  background-repeat: no-repeat;
  position: relative;
  color: white;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.link {
  width: 40%;
}

#root {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.warper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-cell {
  cursor: pointer;
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
}
.note {
  height: 100%;
}
.pass-cell {
  cursor: default !important;
  background-color: #28361866 !important;
}
.active-cell {
  outline: none;
  background-color: #dda15e99;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input {
  user-select: none;
}
.btn:hover {
  transform: scale(1.05) !important;
}
.btn:active {
  transform: scale(0.95) !important;
  opacity: 0.6;
}
button > img {
  width: 100%;
}
